
<h1>Movies</h1>
<h2> <%= pluralize(@movies.size, 'movie') %>.</h2>
<ul>
  <% @movies.each do |m| %>

      <li><strong><%= link_to m.id, @movie %>
       <%= link_to m.id, controller: 'movies', action: 'show', id: m.id %>
        - <%= link_to m.title, controller: 'movies', action: 'show', id: m.id%></strong>
        - Mis à jour : <%= m.updated_at %>
        <br>
        Description : <br>
        <%= truncate(m.description, length: 140, separator: ' ') %> <br>


        Chiffre d'affaire :   <%= format_total_gross(movie)%>


        Date de sortie le : <%= m.released_on %>





      </li>
  <% end %>
</ul>

<%= link_to "Accueil", root_path %>




